@*<a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
    <script type='text/javascript'>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
    </script>*@
<section id="top-down">
    <a class="btn-top fa fa-arrow-circle-o-up" href="javascript:;" data-toggle="tooltip" data-placement="top">
    </a>
    @*<a class="btn-down" href="javascript:;" data-toggle="tooltip" data-placement="top" title=""><span>DOWN</span><i class="fa fa-caret-down" aria-hidden="true"></i></a>*@
</section>
